{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/style/bootstrap.min.css">
<link rel="stylesheet" href="/assets/style/style.css">

{% endblock %}

{% block body %}

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">N° inventaire</th>
                <th scope="col">garantie</th>
                <th scope="col">Date de reception</th>
                <th scope="col">mise en service</th>
                <th scope="col">designation</th>
                <th scope="col">Nom agence</th>
                <th scope="col">Nom founisseur</th>
                <th scope="col">Nom service</th>
                <th scope="col">Type Material</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for material in materials %}
                <tr class="table-active">
                <th scope="row">{{material.numeroinventaire}}</th>
                <td>{{material.garantie}}</td>
                <td>{{material.datedereception | date("d/m/y")}}</td>
                <td>
                {% if material.affecter == 1 %}
                oui
                {% elseif material.affecter == 0 %}
                non
                {% endif %}
                </td>
                <td>{{material.designation}}</td>
                <td>{{material.agencies}}</td>
                <td>{{material.fournisseur.firstName}} {{material.fournisseur.lastName}}</td>
                <td>{{material.service}}t</td>
                <td>{# C{{material.typeMaterial}} #}</td>
                <td>update</td>
                </tr>
            {% endfor %}
                
            </tbody>
        </table>
	</div>

 <script src="/assets/script/jquery.min.js"></script>
    <script src="/assets/script/popper.js"></script>
    <script src="/assets/script/bootstrap.min.js"></script>
    <script src="/assets/script/main.js"></script>

{% endblock %}